<div class= "nav">

<div class ="logo-left">
<%= image_tag("https://s3-us-west-1.amazonaws.com/mont-general/janecon2019.png",:style =>"width:260px") %>


  <li>
    ABOUT
  </li>

   <li>
    SCHEDULE
  </li>

   <li>
    VENUE
  </li>

   <li>
    FAQ'S
  </li>

   <li>
    REGISTER
  </li>

</div>
</div>