<div class= "nav">

<div class ="logo-left">
<%= image_tag("https://s3-us-west-1.amazonaws.com/mont-general/janecon2019.png",:style =>"width:260px") %>


  <li>
    what's UP
  </li>

   <li>
    theLOCALE
  </li>

   <li>
    theTALENT
  </li>

   <li>
  QandA
  </li>

   <li>
    I'M in!
  </li>

</div>
</div>