
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.min.css">

<center>
  <a href="http://www.regfox.com" target="_blank">
<div class= "register-top">

 <p class = "animated pulse"> REGISTER HERE NOW</p>

</div>
</a>
</center>



<div class = "register-bottom">
  <center>
  <div class = "register-bottom-header">
  What are you waiting for?
  </div>

  JaneCon is your chance to connect with the Jane Team and find out what's on the horizon with Jane.  Get essential business advice as you rub shoulders with fellow sellers.  And, of course is a chance for Jane to thank you for your dedication and hard work.
</div>
</center>
