
<div class = "venue-one">
<%= image_tag("https://s3-us-west-1.amazonaws.com/mont-general/uvcc+copy.jpg",:style =>"width:100%") %>
</div>

<center>
<div class = "venue-two">
  Parking 
  <span>&nbsp; and &nbsp;</span>
  Directions
</div>
</center>

<div class = "venue-three">

    <div>
      <span>
      Salt Lake Airport
    </span>
    <br>
    <br>
    SLC to Provo<br>
    49.5 miles SE<br>
    <br>
    Alternate transportation:<br>
    Frontrunner train and bus ~ $6.10<br>
    <br>
    Ride-sharing service (Lyft or Uber)<br>
    Average Rate: $88(one way)<br>
    <br>
    Express Shuttle: $45 (one way)

    </div>


    <div>
      <span>
      Provo Airport
    </span>
    <br>
    <br>
    Provo to Convention Center<br>
    4.0 miles E<br>
    <br>
    Ride-sharing service (Lyft or Uber)<br>
    Average Rate: $7-$9<br>
    <br>
    Provo Frontrunner station to<br>
    Provo Center Street area: $6-$8<br>

    </div>


</div>


<div class= "venue-four">
  <br>
  <hr>
  <br>
</div>



<center>
<div class = "venue-five">

<span1>Accomodations</span1>
<br>
<br>
Get a special JaneCon rate at either of the followoing locations:<br>
<br>
<span2>Provo Marriott</span2>
<br>
<br>
$134/night plus tax<br>
* Located right across the street from the conventions center

</div>
</center>

